.App {
  text-align: center;
  font-size: 40px

  &__title {
    font: 30px;
  }

  &__textbox-label {
    font: 30px;
  }

  &__key-phrases-number {
    margin-top: 10px;
  }

  &__key-phrases {
    margin-top: 10px;
  }
}

